
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* .imgProfil{
    border-radius: 50%;
    width: 70px;
    flex-shrink: 0;
    object-fit: cover;
  
} */
.grid-container{
  margin-left: 4px !important;
}
.myCard{
    width: 11rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-left: 0%;
    margin-right: 0%;
}
.space{
  margin-top: 5rem!important;
}
.space1{
  margin-top: 5rem!important;
  background-color: black !important;
}
.myCardTitle{
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius:7px !important;
    color: white !important;
    font-size: 13px;
    text-align: center;

}
/* .height{
  height: 0;
} */
.moreTxt{
    color: #75798E;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
  }

.moreTxt1{
    color: #75798E;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}


.appIcon{
    width: 120px
}

.title{
  margin-top: -27px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}

.heyTxt{
    font-weight: 500;
    font-family: Roboto, sans-serif;
    min-height: 30px;
    text-align: center;
    }

.divTitle{
    text-align: center
    }

.myCardText{
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius:7px !important;
    color: white !important;
    font-size: 11px;   
    font-family: 'Roboto',sans-serif; 
    line-height: normal;
    text-align: center;
}


.txtCard{
    color: white;
    
}

.box {
    height: 165px;    
    overflow: hidden;
  }

  
.hid-box {
    top: 6%;
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
  }
  
  .box:hover > .hid-box{
    top: 3%;
  }

  .commingSoon{
    color: white !important;
    font-size: 17px;   
    font-family: 'Roboto',sans-serif; 
    line-height: normal;
    text-align: center;
  }

  .moreBtn{
      cursor: pointer;
      border: 1px solid #000000;
      border-radius: 21px;
      padding: 1px 17px;
      font-size: 12px;
   
  }
  
  .moreBtn1{
    cursor: pointer;
    border: 1px solid ;
}

  @media only screen and (max-width: 770px) {
      .title  {
        margin-top: -50px;
          font-size: 25px;
          text-align: center;
          font-weight: bold;
          font-family: Roboto,sans-serif;
         }


      .moreTxt1{
        color: #75798E;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        margin-left: 2px;
        margin-bottom: 38px;
    }
  }
  @media (min-width:2560px){
    .in-large{
      max-width: 65%;
    }
    .grid-container{
      margin-left: 556px !important;
      max-width: 52%;
    }
    .nav2 {
      margin-left: 145px !important;
  }
    .nav {
    margin-left: 72px !important;
  }
    .navmy{
     margin-left: 160px !important;  
}
  }
  @media screen and (max-width: 350px) {
  .all-apps-in-small{
    width: 120%;
    max-width: 120%;
  }}

  